* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin-left: 7%;
    margin-right: 7%;
    background-color: rgba(192, 192, 192, 0.1);
}

h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;
}

.student-gray {
    color: #505355;
}

.italic-text {
    font-style: italic;
}

#student-picture img{
    border-radius: 50%;
}
#main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "header header header"
        "sidebar content content"
        "sidebar student-quote student-quote"
        "sidebar student-profile student-profile"
        "footer footer footer";
    gap: 20px 50px;
    align-items: center;

}

#experience-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "exp-code exp-database"
    "exp-web exp-design";
    gap: 20px 50px;
}

#headline {
    grid-area: header;
    text-align: center;
}

#student-picture {
    grid-area: sidebar;
    text-align: center;
}

#student-quote {
    grid-area: student-quote;
    text-align: center;
}

#student-profile {
    grid-area: content;
    padding: 20px;
    
}

#student-contact {
    grid-area: footer;
    text-align: center;
}

#experience-code {
    grid-area: exp-code;
    padding: 20px;
}

#experience-database {
    grid-area: exp-database;
    padding: 20px;
}

#experience-web {
    grid-area: exp-web;
    padding: 20px;
}

#experience-design {
    grid-area: exp-design;
    padding: 20px;
}


