* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin-left: 7%;
    margin-right: 7%;
    background-color: rgba(192, 192, 192, 0.1);
}

h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;
}

.student-gray {
    color: #505355;
}

.italic-text {
    font-style: italic;
}

#student-picture img{
    border-radius: 50%;
}
#main-grid {
    display: grid;
    grid-template-areas:
        "header header header"
        "headline headline headline"
        "student-picture content content"
        "student-quote content content"
        "student-contact student-profile student-profile"
        "experience-grid experience-grid experience-grid"
        "footer footer footer";
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 20px 50px;
}

#experience-grid{
    display: grid;
    grid-template-areas:
    "experience-code experience-database"
    "experience-web experience-design";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 20px 50px;
}
@media (min-width: 1025px) {
    #main-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header header header"
            "headline headline headline"
            "student-picture student-picture content"
            "student-quote student-quote content"
            "student-profile student-contact experience-grid"
            "footer footer footer";
        align-items: center;
    }
}
#student-picture,
#student-contact {
    text-align: center;
}

@media (min-width: 1025px){
    #experience-grid {
        grid-template-areas:
            "experience-code experience-code"
            "experience-database experience-database"
            "experience-web experience-design";
    }
}

@media(max-width: 1024px){
    #main-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "header header"
            "headline headline"
            "student-picture content"
            "student-quote content"
            "student-profile student-contact"
            "experience-grid experience-grid"
            "footer footer";
        gap: 20px 35px;
            
    }
}

@media (max-width: 1024px){
    #experience-grid{
        grid-template-areas: 
            "experience-code experience-database"
            "experience-web experience-design";
        gap: 20px 20px;
    }
}


@media (max-width: 450px){
    #main-grid{
        grid-template-areas: 
            "header"
            "headline"
            "student-picture"
            "student-quote"
            "student-profile"
            "student-contact"
            "experience-grid"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto 1fr auto;
        gap: 20px 0;
    }
}

#experience-grid{
    grid-template-areas:
            "experience-code"
            "experience-database"
            "experience-web"
            "experience-design";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 20px 0;
}


